@model IEnumerable<PavillionData.Models.Physician>

@{
    ViewBag.Title = "Explore";
}

<h2>Explore</h2>

@using (Html.BeginForm("Search", "Explore", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <input type="text" name="input" value="Search a Physician" />
    <input type="submit" value="Search" name="submit">
}


<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.ImagePath != null)
            {
                <td>
                    <img src="@item.ImagePath" alt="Nahman" width="100px" height="100px" />
                </td>
            }
            else
            {
                <td>
                    <img src="~/Content/Img/avatar-placeholder.png" alt="Nahman" width="100px" height="100px" />
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Select", "ViewPhysician", new { id = item.Id })
            </td>

        </tr>
    }

</table>