@model IEnumerable<PavillionData.Models.Physician>

@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm("Search", "Explore", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <input type="text" name="input" placeholder="Search a Physician.." class="inputbox-explore-refine" />
    <input type="submit" value="Search" name="submit" class="submitsearch-explore-refine">
}

<div class="refine-block">
    <div class="col-md-6 apple">
        <p>Your search returned <strong>@Model.Count()</strong> Results</p>
    </div>
    <div class="col-md-6 banana">
        <p>Refine Your results</p>
        @Html.ActionLink("Alphabetical", "")
        @Html.ActionLink("Recommendations", "")
    </div> 
    
</div>

@foreach (var item in Model)
 {
    <div class="result-block">
        @if (item.ImagePath != null)
        {
            <img src="~/@item.ImagePath" alt="Error" height="150" width="150" class="img-results" />
        }
        else
        {
            <img src="~/Content/Img/avatar-placeholder.png" alt="Alternate Text" height="150" width="150" class="img-results" />
        }
        <a href="@Url.Action("ViewPhysician","Explore", new { id = item.Id })">@item.Title @item.FirstName @item.LastName</a>
        <ul class="list-unstyled search-listing">
            <li><strong>Practice:</strong> @item.Practice</li>
            <li><strong>Specialisation:</strong> @item.Specialisation</li>
        </ul>

    </div>
 }

