@model IEnumerable<PavillionData.Models.Physician>

@{
    ViewBag.Title = "Search";
}

<h2>Results</h2>

@using (Html.BeginForm("Search", "Explore", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <input type="text" name="input" value="Search a Physician" />
    <input type="submit" value="Search" name="submit">
}

<div>
    <p>Refine Your results</p>
    @Html.ActionLink("Alphabetical", "")
    @Html.ActionLink("Recommendations", "")
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialisation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Practice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Practice)
            </td>
            <td>
                @Html.ActionLink("ViewPhysician", "Explore", new { id = item.Id })
            </td>
        </tr>
    }
</table>
