@model PavillionData.Models.ViewModels.PhysicianPersonalProfile

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Physician Dashboard</h4>
    <hr />

    <p>@Html.ActionLink("My Details", "ViewPhysician","Explore", new {id = Model.physician.Id }, new { }) </p>
    <p>@Html.ActionLink("Settings", "Settings", "Physician")</p>

    <p class="crt-album-txt">Upload a new image.</p>

    <p>@Html.ActionLink("Generate a new chatcode", "GenerateCode")</p>

    @if (Model.ChatCodes.Any(c => c != null))
    {
        foreach (var item in Model.ChatCodes)
        {
            <p>@item.CodeContent</p>
        }
    }
    else
    {
        <p>You have no chat codes generated</p>
    }
</div>
    <p>
        | @Html.ActionLink("Edit", "Edit", new { UserId = Model.physician.Id })
    </p>
