@model PavillionData.Models.ViewModels.PhysicianPersonalProfile
@{
    ViewBag.Title = "Index";

}

<div class="container">
    
    <div class="row">
        <div class="col-lg-12">
            <div class="dash-title">
                <h1><strong>Physician Dashboard</strong></h1>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <div class="dashbox">
                    <a href="@Url.Action("ViewPhysician", "Explore", new { id = Model.physician.Id })">My Details <i class="glyphicon glyphicon-paperclip"></i></a>
                    <a href="@Url.Action("Edit","Physician")">Edit Details <i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="@Url.Action("ViewMessages","Physician")">Messages <span style="color:darkred;">(@Model.physician.PatientMessages.Count())</span></a>
                    <a href="@Url.Action("ViewImages", "Physician")">Images <i class="glyphicon glyphicon-picture"></i></a>
                    <a href="#" onclick="togglePatientpin()">PatientPin <i class="glyphicon glyphicon-star"></i></a>
                    <a href="@Url.Action("Settings", "Physician")">Settings <i class="glyphicon glyphicon-cog"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img class="dash-banner" src="~/Content/Img/medical-doctor-group-physician-team-260nw-1494395756.jpg" alt="Alternate Text" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="patient-pin" class="patientpin-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Generated Codes</th>
                                <th>Date Generated</th>
                                <th>Code Status</th>
                                <th>Reference</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var item in Model.ChatCodes)
                                {
                                    <tr>
                                        <td>@item.CodeContent</td>
                                        <td>@item.DateGenerated</td>
                                        <td>@item.Status</td>
                                        <td>Reference here</td>
                                        <td><a>Remove</a> | <a>Restore</a></td>
                                        
                                    </tr>




                                }
                                     
                        </tbody>
                        
                        
                    </table>
                    <div>
                        <a style="position: relative; top: 320px; left: 390px;" href="@Url.Action("GenerateCode","Physician")">Generate New Code</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
