@model IEnumerable<PavillionData.Models.PatientMessage>
@{
    ViewBag.Title = "ViewMessages";
}

<h2>Messages</h2>

<h4>Unread</h4>
<hr />
@foreach (var item in Model)
{
    if (item.IsRead == false)
    {

        <p><strong>@item.PatientName | @item.PatientEmail </strong></p>

        <p>@item.MessageContent</p>

        <p>@item.Datesent</p>
        @Html.ActionLink("Set message as read", "SetAsRead", "Physician", new { id = item.MessageId }, new { })
        <hr />
    }
}
<h4>Read</h4>
<hr />
@foreach (var melt in Model)
{
    <p>@melt.PatientName | @melt.PatientEmail</p>

    <p>@melt.MessageContent</p>

    <p>@melt.Datesent</p>
    <hr />

}

