<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pavillion Medical </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Custom.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="mySidenav" class="sidenavOne" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
        <ul class="uo-list list-unstyled">
            <li><span style="font-size:40px;cursor:pointer">&#9776;</span></li>
        </ul>
        <div class="brand-nav-ideal">
            @Html.ActionLink("Pavillion", "Index", "Home", new { }, new { @class = "ideal-brand-nav" })
        </div>
        <div class="side-nav-listitems">
            <a href="@Url.Action("Index", "Home")">
                <i class="glyphicon glyphicon-home"></i>  Home
            </a>
            <a href="@Url.Action("Index", "Explore")">
                <i class="glyphicon glyphicon-search"></i>  Explore
            </a>
            <a href="@Url.Action("About", "Home")">
                <i class="glyphicon glyphicon-question-sign"></i>  About
            </a>
 
        </div>
        <div class="side-nav-login">
            @if (!User.Identity.IsAuthenticated)
            {
                <p class="login-text">Are you a Physician?</p>
            }

            @Html.Partial("_LoginPartial");
        </div>
        
        

        

    </div>

    <div class="container body-content">
        @RenderBody()
        <footer class="footer-bottom">
            <p>&copy; @DateTime.Now.Year - Pavillion Medical</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/custom.js")
    @RenderSection("scripts", required: false)
</body>
</html>
