<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pavillion Medical </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Custom.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="mySidenav" class="sidenavOne" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
        <ul class="uo-list list-unstyled">
            <li><span style="font-size:40px;cursor:pointer">&#9776;</span></li>
        </ul>
        @Html.ActionLink("Pavillion", "Index", "Home", new { @class = "ideal-brand-nav" })
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Explore", "Index", "Home")
        @Html.ActionLink("About Us", "Index", "Home")

        @Html.Partial("_LoginPartial");

    </div>


    <script>

        var isOpen = true;

        function toggleSidebar() {
            if (isOpen) {
                document.getElementById("mySidenav").style.width = "300px";
                this.isOpen = false;
            }
            else {
                document.getElementById("mySidenav").style.width = "70px";
                this.isOpen = true;
            }
        }

        function openNav() {
            document.getElementById("mySidenavTwo").style.width = "250px";
            isOpen = true;
        }

        function closeNav() {
            document.getElementById("mySidenavTwo").style.width = "0px";
        }
    </script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pavillion Medical</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
