@using PavillionData.Models
@using PavillionData.Repository
@using Microsoft.AspNet.Identity
@{
    PavillionContext context = new PavillionContext();
} 
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

<ul class="list-unstyled logged-list">
    @if (GetFirstname() == null)
    {
        <li>
            @Html.ActionLink("Hello User" + "!", "Index", "Physician", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
    }
    else
    {
        <li>
            @Html.ActionLink("Hello " + GetFirstname() + "!", "Index", "Physician", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
    }

    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="list-unstyled login-list">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


@{



    string GetFirstname()
    {
        var id = User.Identity.GetUserId();

        string firstname = context.Physicians.Where(c => c.UserId == id).Select(c => c.FirstName).FirstOrDefault();

        return firstname;
    };
}
